.home{
	
	text-decoration:none;
	margin-left:3em;
	border-left-style: solid; 
	border-right-style: solid;
	padding-top: 0.1em;
	padding-bottom:0.1em;
	padding-left: 2em; 
	padding-right: 2em;
	border-left-style: solid; border-left-color: black; border-right-style: solid; border-right-color: black;
}

.location{
	text-decoration:none;
	margin-left:3em;
	border-left-style: solid; 
	border-right-style: solid;
	padding-top: 0.1em;
	padding-bottom:0.1em;	
	padding-left: 2em; 
	padding-right: 2em;
	border-left-style: solid; border-left-color: black; border-right-style: solid; border-right-color: black;	
}

.advantage{
	text-decoration:none;
	margin-left:3em;
	border-left-style: solid; 
	border-right-style: solid;
	padding-top: 0.1em;
	padding-bottom:0.1em;	
	padding-left: 2em; 
	padding-right: 2em;
	border-left-style: solid; border-left-color: black; border-right-style: solid; border-right-color: black;	
}

.info{
	text-decoration:none;
	margin-left:3em;
	border-left-style: solid; 
	border-right-style: solid;
	padding-top: 0.1em;
	padding-bottom:0.1em;	
	padding-left: 2em; 
	padding-right: 2em;
	border-left-style: solid; border-left-color: black; border-right-style: solid; border-right-color: black;	
}

nav{
	background-color:white;
	padding: 12px 50px ;
	margin:auto 5em auto 5em

}

#list{
	list-style-type: upper-roman;
}
