#section1{
	padding-left:3em;
	padding-right:3em;
	line-height: 1.5em;
	font-size: 18px;	
}

h2{
	text-align:center;
	padding-right:4.5em;
}

h3{
	margin-top: 18em;
}

#locationwindturbine1,#viewfrompj{
	float:right;
	margin: 0em 0em 1em 1em;
}

.home{
	
	text-decoration:none;
	margin-left:3em;
	border-left-style: solid; 
	border-right-style: solid;
	padding-top: 0.1em;
	padding-bottom:0.1em;
	padding-left: 2em; 
	padding-right: 2em;
	border-left-style: solid; border-left-color: black; border-right-style: solid; border-right-color: black;
}

.location{
	text-decoration:none;
	margin-left:3em;
	border-left-style: solid; 
	border-right-style: solid;
	padding-top: 0.1em;
	padding-bottom:0.1em;	
	padding-left: 2em; 
	padding-right: 2em;
	border-left-style: solid; border-left-color: black; border-right-style: solid; border-right-color: black;	
}

.advantage{
	text-decoration:none;
	margin-left:3em;
	border-left-style: solid; 
	border-right-style: solid;
	padding-top: 0.1em;
	padding-bottom:0.1em;	
	padding-left: 2em; 
	padding-right: 2em;
	border-left-style: solid; border-left-color: black; border-right-style: solid; border-right-color: black;	
}

.info{
	text-decoration:none;
	margin-left:3em;
	border-left-style: solid; 
	border-right-style: solid;
	padding-top: 0.1em;
	padding-bottom:0.1em;	
	padding-left: 2em; 
	padding-right: 2em;
	border-left-style: solid; border-left-color: black; border-right-style: solid; border-right-color: black;	
}
nav{
	background-color:white;
	padding: 12px 50px ;
	margin:auto 5em auto 5em

}



